*{
    box-sizing:border-box ;
    margin: 0;
}
body{
    margin: 0;
}

.head{
float: left;
width: 100%;
height: 20vh;
background-color:green;
}
.article{
float: left;
width: 50%;
height: 40vh;
background-color:white;
}
.aside{
    float: right;
    width: 20%;
    height: 80vh;
    background-color: darkcyan;
}
.aside1{
    float: right;
    width: 20%;
    height: 80vh;
    background-color:bisque;
}
.footer{
    float: left;
    width: 100%;
    height: 20vh;
    background-color:green;
}
@media (max-width: 600px){
    nav, article {
        width: 100%;
        height: auto;
    }
}